*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

nav
{
    display: inline;
    align-items: center;
    background-color: rgb(255,101,77);
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul
{
    display: flex;
    list-style-type: none;
    margin-right: 100px;
}

nav li
{
    padding-right: 30px;
    text-align: center;
}

nav a
{
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    transition: 0.4s ease-in-out;
}

nav a:hover
{
    color: rgb(25,87,194);
    border-bottom: 2px solid rgb(25,87,194);
}

.logo
{
    margin-right: auto;
}

.accueil
{
    padding-top: 80px;
    background-color: #F9F9F9;
    display: flex;
}

.about
{
    background-color: rgb(255,101,77);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.portofolio
{
    padding-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.cv
{
    background-color: rgb(255,101,77);
    padding-top: 60px;
    height: 600px;
    position: relative;
    z-index: -1;
}

.contact
{
    padding-top: 60px;
    margin-bottom: 60px;
}

footer
{
    display: flex;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255,101,77);
    color: white;
    font-size: large;
    padding: 10px;
}

.devimg
{
    margin-left: auto;
    height: 800px;
    margin-top: 20px;
}

.textacc
{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align: center;
    padding-left: 50px;
    min-width: fit-content;
}

.textacc h1
{
    color: rgb(25,87,194);
    font-size: 50px;
}

.bportofolio
{
    margin: 10px;
    background: rgb(25,87,194);
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(255,101,77);
    color: rgb(255,101,77);
    text-decoration: none;
    padding: 10px 0px;
    transition: 0.4s ease-in-out;
    
}

.bportofolio:hover
{
    background-color: rgb(255,101,77);
    border-radius: 20px;
    border: 2px solid rgb(25,87,194);
    color: rgb(25,87,194);
}

.btnlien
{
    margin-top: 30px;
    display: flex;
}

.PB
{
    color: rgb(255,101,77);
    font-size: 60px
}

span
{
    color: rgb(255,101,77);

}

h2
{
    color: rgb(25,87,194);
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;
}

h3
{
    color: rgb(25,87,194);
    font-size: 22px;
    line-height: 30px;
}

article
{
    color: white;
    font-size: larger;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}

.abt
{
    width: 100%;
    height: auto;
    margin: 50px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blocabt
{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid rgb(25,87,194);
    border-radius: 10px;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.imgabt
{
    width: 200px;
}

.port
{
    width: 100%;
    height: auto;
    margin: 50px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blocport
{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid rgb(25,87,194);
    border-radius: 10px;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.imgport
{
    width: 400px;
}

.contact .container
{
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px -10px rgb(255,101,77);
}

.contact .container form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

.contact .container form input
{
    width: 47%;
}

.contact .container form input:hover,
.contact .container form textarea:hover
{
    border-bottom: 2px solid rgba(175,233,226,255);
}

.contact .container form input,
.contact .container form textarea
{
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(25,87,194);
    transition: 0.2s;
}

.contact .container form textarea
{
    width: 100% ;
    resize: none;
    margin-bottom: 30px;
}

.contact .container form button
{
    width: 192px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(25,87,194);
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    margin: 0 auto;
}

.resume
{
    display: flex;
    align-items: center;

}

.tableau
{
    margin-right: auto;
    margin-top: 30px;
}

table, td, th
{
    padding: 10px;
    border: 2px solid rgb(25,87,194);
    border-collapse: collapse;
}

.imgresume
{
    margin-right: auto;
}

.range-cont {
    position: relative;
}

.grille-skill {
    display: grid;
    grid-template: repeat(3,80px) / repeat(2, 250px);
    grid-gap: 30px;
    padding-left: 10px;
}

.barre-skill {
    height: 10px;
    background: linear-gradient(to right, rgb(25,87,194), rgb(6, 32, 78));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.b1
{
    width: 90%;
}

.b2
{
    width: 75%;
    background: linear-gradient(to right, rgb(25,87,194), rgb(6, 32, 78));
}

.b3
{
    width: 70%;
    background: linear-gradient(to right, rgb(25,87,194), rgb(6, 32, 78));
}

.b4
{
    width: 80%;
}

.b5
{
    width: 85%;
}

.b6
{
    width: 80%;
    background: linear-gradient(to right, rgb(25,87,194), rgb(6, 32, 78));
}

.label-skill
{
    color: rgb(25,87,194);
    font-size: 24px;
    font-weight: bolder;
}

.social
{
    display: flex;
    justify-content: space-around;
}